﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Please welcome news-lets, the revolutionary project created to allow anyone become journalist</p>
    <hr class="my-4">
    <p>No need for SEO, learning web or lengthy approval process,just sign up and start writing!</p>
</div>

<h1>Our Beliefs</h1>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Free speech
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <strong>News-lets administration fully supports free speech.</strong>
                <p>
                    We accept all points of view and don't glorify gatekeeping like other platforms do.We don't ban accounts, we don't strip creators from their subscriber base.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Privacy
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <strong>We respect your privacy.</strong>
                <p>
                    Comments don't require signing up, subscriptions are email-based.At no point will news-lets ask you for any private data.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Decency
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <strong>Small list of rules</strong>
                <p>
                    <dl class="row">
                        <dt class="col-sm-3">No Pornographic materials</dt>
                        <dd class="col-sm-9">Please don't post any pornographic materials as they won't be published.</dd>
                        <dt class="col-sm-3 text-truncate">No Doxxing</dt>
                        <dd class="col-sm-9">We don't publish any private information about non public figures.</dd>
                        <dt class="col-sm-3">No obscenity</dt>
                        <dd class="col-sm-9">Please Keep in respectful;)</dd>
                    </dl>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts{

}

@section SEO{
    <title>About - news_lets.com</title>
    <meta name="description" content="">

}