﻿@using Microsoft.AspNetCore.Identity
@using news_lets.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav nav-tabs" style="margin-bottom:10px">
        <li class="nav-item">
            <a class="nav-link active">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account">My Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Partner Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
        </li>
    </ul>
}
<div class="card-group">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://homepages.cae.wisc.edu/~ece533/images/zelda.png" height="179" width="179" id="TopImage" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="padding-bottom: 0;">
                    <i class="fas fa-crown" style="float: right;"></i>
                    <h5 class="card-title" id="TopTitle">Card title</h5>
                    <p class="card-text" id="TopText">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small id="TopDate" class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="border: 0px !important;background-color: #b9cfd4;">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body" style="padding-bottom: 0;">
                    <h5 class="card-title text-light text-right">Popular trends</h5>
                    <div class="card-text" id="topics">
                        <span class="badge badge-secondary">Cats</span>
                        <span class="badge badge-secondary">Avangers</span>
                        <span class="badge badge-secondary">Dumb Stuff</span>
                        <span class="badge badge-secondary">New</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item" id="articles">
                <a class="nav-link active" id="newslink" onclick="ChangeToArticles(3)">Top Stories</a>
            </li>
            <li class="nav-item" id="authors">
                <a class="nav-link" id="authorslink" onclick="ChangeToAuthors()">Top Authors</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card-group" id="place">
            <div class="card" style="width: 18rem;">
                <img src="http://via.placeholder.com/100x100" id="ArticleImage1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" id="ArticleTitle1">Card title</h5>
                    <p class="card-text" id="ArticleText1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" id="ArticleLink1" class="btn btn-primary">Visit</a>
                </div>
            </div>
            <div class="card text-center mx-1" style="width: 18rem;">
                <img src="http://via.placeholder.com/100x100" id="ArticleImage2" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" id="ArticleTitle2">Card title</h5>
                    <p class="card-text" id="ArticleText2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" id="ArticleLink2" class="btn btn-primary">Visit</a>
                </div>
            </div>
            <div class="card text-right" style="width: 18rem;">
                <img src="http://via.placeholder.com/100x100" id="ArticleImage3" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" id="ArticleTitle3">Card title</h5>
                    <p class="card-text" id="ArticleText3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" id="ArticleLink3" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/FrontPage.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e745af1ccbdef31"></script>
}

@section SEO{
    <title>Welcome - news_lets.com</title>
    <meta name="description" content="">

}

