﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" style="margin-bottom:10px">
    <li class="nav-item">
        <a class="nav-link" href="/">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Account">My Page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Partner Page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
    </li>
</ul>
<div class="jumbotron text-center text-white" style="padding-bottom:5px;margin-bottom:0px" id="UserSkin">
    <!--<img src="https://images.pexels.com/photos/3687957/pexels-photo-3687957.jpeg?cs=srgb&dl=orange-tabby-cat-on-white-table-3687957.jpg&fm=jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="304" height="304" id="UserLogo">-->
    <img src="~/img/testImg1.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="304" height="304" id="UserLogo">
    <div id="holder">
        <h1 class="editable" id="UserName">Name</h1>
    </div>
</div>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" id="DescriptionPage">Description</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="AritclesPage">Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="EmailPage">Email List</a>
    </li>
</ul>
<div class="jumbotron text-center text-white" id="content" style="padding-bottom:5px;margin-bottom:0px">
    <div class="form-group">
        <h1 for="comment">Description:</h1>
        <textarea class="form-control" rows="5" id="UserDescription"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="save">Save</button>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Avatar/Background Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches">
                    <label class="custom-control-label" for="customSwitches">Update Background</label>
                </div>
                <div class="custom-file" id="UserBackgroundInput">
                    <input type="file" class="custom-file-input" id="customFile" disabled>
                    <label class="custom-file-label" for="customFile" id="UserBackgroundInputText">Choose file</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches1">
                    <label class="custom-control-label" for="customSwitches1">Update Logo</label>
                </div>
                <div class="custom-file" id="UserLogoInput">
                    <input type="file" class="custom-file-input" id="customFile1" disabled>
                    <label class="custom-file-label" for="customFile1" id="UserLogoInputText">Choose file</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="PreviewImagesBtn">Preview changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/EditAccount.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e745af1ccbdef31"></script>
}

