﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<i class="fas fa-microphone-alt-slash fa-5x"></i>


<h3>The page you are looking for is not found</h3>
<p>
    We couldn't find the page you have requested, either something went wrong on our side or it was deleted by <strong>author</strong>...
</p>


@section Scripts {
    <script src="~/js/Error.js"></script>
}