﻿@model news_lets.ViewModels.ArticleShowViewModel
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="articleId" style="display:none">@Model.ArticleId</div>
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">@Model.Title</h1>
        <!-- Author -->
        <p class="lead">
            by
            <a href="/Author/Show?authorId=@Model.AuthorId">@Model.AuthorName</a>
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Posted on @Model.CreatedDate.ToLongDateString()</p>
        <hr>
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="@Model.ImagePath" alt="@Model.Alt">

        <hr>
        @Html.Raw(Model.Text)

        <!--Todo:Citations-->
        <!--<blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                Someone famous in
                <cite title="Source Title">Source Title</cite>
            </footer>
        </blockquote>-->

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="pwd">Pseudonim:</label>
                        <input type="text" class="form-control" id="Pseudonim">
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea id="comment" class="form-control" rows="3"></textarea>
                        <small id="CommentHelp" class="form-text text-muted">Comments will always be anonymus</small>
                    </div>
                    <button type="submit" id="CommentSubmitBtn" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        @if (Model.Comments != null)
        {
            @foreach (news_lets.ViewModels.CommentViewModel commentViewModel in Model.Comments)
            {
                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">@commentViewModel.pseudonim</h5>
                        @commentViewModel.comment
                    </div>
                </div>
            }
        }
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <label for="search">Search: </label>
                <input id="search">
            </div>
        </div>

        <!-- Categories Widget -->
        @if (Model.Topics != null && Model.Topics.Count != 0)
        {
            <div class="card my-4">
                <h5 class="card-header">Topics</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                @for (int i = 0; i < Model.Topics.Count; i++)
                                {
                                    <li><a href="#">@Model.Topics[i]</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.Views != 0)
        {
            <div class="card my-4">
                <h5 class="card-header">Popularity</h5>
                <div class="card-body">
                    Viewed @Model.Views times during last 7 days
                </div>
            </div>
        }
        @if (Model.YoutubeVideo != null && Model.YoutubeVideo.Count != 0)
        {
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Featured Video</h5>
                <div class="card-body">
                    @foreach (var Vid in Model.YoutubeVideo)
                    {
                        <p>
                            <button class="btn mx-auto d-block btn-info" onclick='openModal("@Vid.VideoCode")'>Watch @Vid.VideoTitle</button>
                        </p>
                    }
                </div>
            </div>
        }
        @if (Model.ArticleNameIds != null && Model.ArticleNameIds.Count != 0)
        {
            <div class="card my-4">
                <h5 class="card-header">Suggested Articles</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                @for (int i = 0; i < Model.ArticleNameIds.Count; i++)
                                {
                                    if(i<5)
                                    {
                                    <li><a href="@Model.ArticleNameIds[i].ArticleId">@Model.ArticleNameIds[i].ArticleName</a></li> 
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

</div>
<!-- /.row -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Like what you are reading?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="email" class="form-control" id="Email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="SubscribeBtnSubmit" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/ArticleShow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e745af1ccbdef31"></script>
}

@section SEO{
    <title>@Model.Title - news_lets</title>
    <meta name="description" content="@Model.Title">
    
}

@section Styles{
    <link rel="stylesheet" href="~/css/jquery-ui.css">
}

<!--Pop-Up For vids-->
<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:0.5em">
                <iframe allowFullScreen="allowFullScreen" style="display:block;" id="ytplayer" type="text/html" width="480" height="270"
                        src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1"
                        frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>