﻿@model news_lets.ViewModels.AuthorShowViewModel
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center text-white" style="padding-bottom:5px;margin-bottom:0px" id="UserSkin">
    <img src="@Model.UserDescription.AccountLogo" class="rounded mx-auto d-block" alt="Cinque Terre" width="304" height="304" id="UserLogo">
    <div id="holder">
        <h1 class="editable" id="UserName">@Model.UserDescription.UserName</h1>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <strong>About me</strong>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.UserDescription.UserText</p>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item" id="articles">
                <a class="nav-link active" id="newslink" href="#">Articles</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card-group">
            @foreach (news_lets.ViewModels.ArticleShowViewModel article in Model.articleShowViewModels)
            {
                <div class="card" style="width: 18rem;">
                    <img src="@article.ImagePath" id="ArticleImage1" class="card-img-top" width="304" height="304" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="ArticleTitle1">@article.Title</h5>
                        @if(article.Text.Length>94)
                        { 
                            <p class="card-text" id="ArticleText1">@article.Text.Substring(0, 94))</p>
                        }
                        else 
                        { 
                            <p class="card-text" id="ArticleText1">@article.Text</p>
                        }
                        @Html.ActionLink("Read","Show","Article",new { id=article.ArticleId },new { @class="btn btn-primary" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e745af1ccbdef31"></script>
}



